@import "tailwindcss";

@media (prefers-color-scheme: light) {
  /* light */

  .hljs {
    background: unset;
  }
}

@media (prefers-color-scheme: dark) {
  /* dark */

  .hljs {
    background: unset;
  }
}

/* 1. Definimos tu paleta de colores (¡extráelos de tu imagen!) */
:root {
  --pagefind-ui-primary: #d0ebff;
  --pagefind-ui-background: #f9f5fa;
  --pagefind-ui-border: #340e57;
  --pagefind-ui-tag: #a5d8ff;
}

body.theme-blog {
  background-color: #9d87b4;
  color: #340e57;
}

/*Estilo para TODAS las tarjetas (sidebar y posts) */
.sidebar-card,
.post-card {
  background-color: #d6b2fa;
  border-radius: 10px; /* 8px */
  box-shadow: 0 6px 9px 0px rgba(0, 0.2, 0.1, 0.5);

  /* Tailwind: rounded-lg shadow-md */
}

.navbar {
  max-width: 950px;
  margin: 10px auto; /* 🔹 centra y separa del borde superior */
  background-color: rgba(61, 30, 82, 0.9); /* azul translúcido */
  backdrop-filter: blur(6px); /* 🔹 efecto vidrio */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 60px; /* 🔹 bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 🔹 sombra flotante */
  padding: 0px;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  color: #e5e7eb;
  font-size: 0.9rem;
}

.navbar-links a:hover {
  color: #be8be0;
}
