@import "tailwindcss";

@media (prefers-color-scheme: light) {
  /* light */

  .hljs {
    background: unset;
  }
}

@media (prefers-color-scheme: dark) {
  /* dark */

  .hljs {
    background: unset;
  }
}

/* 1. Definimos tu paleta de colores (¡extráelos de tu imagen!) */
:root {
  --pagefind-ui-primary: #d0ebff;
  --pagefind-ui-background: #f9f5fa;
  --pagefind-ui-border: #340e57;
  --pagefind-ui-tag: #a5d8ff;
}

/* === CONTENEDOR PRINCIPAL === */
.layout-container {
  display: flex;
  flex: 5;
  min-height: 100vh;
  
   margin: 10px ;
   border-radius: 60px; 
   
}

/* === CONTENIDO PRINCIPAL === */
.main-content {
  flex: 2;

  padding: 12px 24px;
}

/* Ajustes generales */
.theme-blog {
  background-color: #f7f7f7;
}

.navbar {
 
  display: flex;
  align-items: left;
 
}

.navbar-container {
  margin: 3px auto;
  padding: 1rem;
  display: flex;
  
}

.navbar-links {
  display: flex;
  gap: 4rem;
  color: #575757;
  font-size: 0.9rem;
 
  
}

.navbar-links a:hover {
  color: #a47cbe;
}





/* === CV=== */
.cv-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  color: #3f0058;
}

.cv-title {
  font-size: 2rem;
 
  color: #4d006b;
  margin-bottom: 1rem;
}

.cv-intro {
  background: #dfc7f8;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.cv-download {
  
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 2rem;
}

.cv-button {
  display: inline-block;
  margin-top: 0.8rem;
  padding: 0.6rem 1.2rem;
  background-color: #06b2fb;
  color: #ebe9ee;
  border-radius: 8px;
  text-decoration: none;
  
}

.cv-button:hover {
  background-color: #6879c4;
}


.side-bar {
  background-color: #a5d8ff;
  padding: 1rem;
  border-radius: 12px;
  margin: 25px ;
  width: 280px; 
  height: 900px;
 
  
  
}
