@import "tailwindcss";

@plugin "@tailwindcss/typography";

@media (prefers-color-scheme: light) {
  /* light */

  .hljs {
    background: unset;
  }
}

@media (prefers-color-scheme: dark) {
  /* dark */

  .hljs {
    background: unset;
  }
}
