@import "tailwindcss";

@plugin "@tailwindcss/typography";

@media (prefers-color-scheme: light) {
  /* light */

  .hljs {
    background: unset;
  }
}

@media (prefers-color-scheme: dark) {
  /* dark */

  .hljs {
    background: unset;
  }
}

.navbar {
  display: flex;
  align-items: left;
}

.navbar-container {
  margin: 3px auto;
  padding: 1rem;
  display: flex;
}

.navbar-links {
  display: flex;
  gap: 4rem;
  color: #575757;
  font-size: 0.9rem;
}

.navbar-links a:hover {
  color: #a47cbe;
}

/* === CV=== */
.cv-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  color: #3f0058;
}

.cv-title {
  font-size: 2rem;

  color: #4d006b;
  margin-bottom: 1rem;
}

.cv-intro {
  background: #dfc7f8;
  padding: 1rem;
  color: #340e57;
  border-radius: 12px;
  margin-bottom: 2rem;
  border-color: #4d006b;
}

.cv-download {
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 2rem;
}

.cv-button {
  display: inline-block;
  margin-top: 0.8rem;
  padding: 0.6rem 1.2rem;
  background-color: #06b2fb;
  color: #ebe9ee;
  border-radius: 8px;
  text-decoration: none;
}

.cv-button:hover {
  background-color: #6879c4;
}

.side-bar {
  background-color: #3a0159;
  padding: 1rem;
  border-radius: 12px;
  margin: 25px;
  width: 280px;
  height: 900px;
}
